{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Stock Prediction{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="type_stock">What type of stock?</label>
    <input type="radio" name="type" id="value" value="value">
    <label for="value">value</label>
    <input type="radio" name="type" id="growth" value="growth">
    <label for="growth">growth</label>
    <br>
    <label for="treasury">What is the percentage change in 10 year treasury yield (enter 0 if no change)?</label>
    <input type="number" name="treasury" id="treasury" min="-0.5" max="0.5" step ="0.001">
    <br>
    <label for="inflation">What is the percentage change in inflation rate (enter 0 if no change)?</label>
    <input type="number" name="inflation" id="inflation"  min="-0.5" max="0.5" step ="0.001">
    <br>
    <label for="CPI">What is the percentage change in CPI (enter 0 if no change)?</label>
    <input type="number" name="CPI" id="CPI"  min="-0.5" max="0.5" step ="0.001">
    <br>
    <label for="exchange">What is the percentage change in exchange rate against CAD (enter 0 if no change)?</label>
    <input type="number" name="exchange" id="exchange"  min="-0.5" max="0.5" step ="0.001">
    <br>
    <input type="submit" value="Submit form">



  {% if result %}
    <br>
    {% if type == "value" %}
    <br>
    Thanks for submitting inputs for a value stock! Please be mindful that the error for our validation set fluctuates around 1%.
    {% else %}
    <br>
    Thanks for submitting inputs for a growth stock! Please be mindful that the error for our validation set fluctuates around 1%.
    {% endif %}
    <br>
    According to our model, the expected price change for {{type}} stock is {{result}}.
    <br>
  {% endif %}

  {% if error %}
    <br>
    Oh no, there are some errors. Please re-enter the inputs. 
  {% endif %}
{% endblock %}
